---
const { id, name, price, description } = Astro.props;
---

<div class="product" id={id}>
  <img src={`/${id}.webp`} alt={`Imagen de ${name}`} />
  <h3>{name}</h3>
  <p>{description}</p>
  <p class="price">Precio: {price}€</p>
  <button onclick={`addToCart('${id}')`} aria-label={`Añadir ${name} al carrito`}>
    Añadir al carrito
  </button>
</div>
